/* / 输入框样式 */
.form .el-input__inner,
.form .el-textarea__inner {
  -web-kit-appearance: none;
  -moz-appearance: none;
  background: #5a5a5a;
  font-size: 1em;
  height: 2em;
  border-radius: 4px;
  border: 1px solid #5a5a5a;
  color: #fff;
  width: 400px;
  outline: 0;
}

.form .el-upload-dragger {
  background: #5a5a5a;
  border: 1px solid #5a5a5a;
  color: #fff;

}

.form .el-upload-dragger .el-upload__text {
  color: white;
  ;
}

.form .el-input__inner {
  width: 200px;
}

.form label {
  color: #fff;
}